capstoneenv/*
wireshark-1.2-buggy/*
wireshark-1.2-fixed/*
sqlite-3.21-sate6/*
cb-multios/*
cgc-sate6/*
guifeedbacktool.docx
dspace-6.2-sate6/*
AL_result/*
label_idx.txt
multi_thread_state.pkl
test_idx.txt
train_idx.txt
unlabel_idx.txt
ActiveLearning.png
Up to speed on Active Learning.*
